<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ status|capitalize }} обращения</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list_requests.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    </head>
<body>
    <div class="container">
        <header class="header">
            <h1 class="header__title">{{ status|capitalize }} обращения</h1>
            <a href="/" class="btn btn--back">Назад</a>
        </header>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert">
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <main class="main">
            {% if status == 'new' %}
                <div id="new-requests-list" class="requests-list"></div>
            {% else %}
                <div class="requests-list">
                    {% for item in requests %}
                        <div class="request-card">
                            <div class="request-info">
                                <p><span class="info-label">ФИО:</span> {{ item.full_name }}</p>
                                <p><span class="info-label">Ник:</span> @{{ item.telegram_nick }}</p>
                                <p><span class="info-label">Telegram ID:</span> {{ item.telegram_id }}</p>
                            </div>
                            <a href="/chat/operator/{{ item.request.id }}" class="btn btn--action">Открыть чат</a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </main>
    </div>

    <script src="{{ url_for('static', filename='js/list_requests.js') }}"></script>
</body>
</html>